* {
    box-sizing:border-box;
    
    }
    body,html {
        height:100%;
        margin:0%;
        padding:0%;
       
    }


.bgimg {
    background-image:url('logo.jpg');
    -webkit-background-size:cover;
    background-size:size;
    filter: blur(10px);
    background-position:center center;
    height:100%;
}
.tbclass {
    border-collapse:separate;
    border-spacing:15px;
    position: absolute;
    top:10%;    
    left:7%;
    
    padding-left:2px;
    padding-top:40px;
    padding-bottom:20px;
    text-align:center;
    border-top-left-radius:70px;
    border-bottom-right-radius:70px;
    background-color: rgba(27, 26, 26, 0.796);
    color:rgb(79, 243, 232);
    font-weight:bold;
    border:10px inset rgb(29, 144, 193);
    width:30%;

}
input[type=submit] {
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    font-style: arial;
    font-size:18px;
    background-color:rgb(167, 248, 243);
}

    .resStyle {
        border:7px inset rgb(29, 144, 193);
        border-radius:7px;
        border-collapse:separate;
    border-spacing:40px;
        position:absolute;
        left:50%;
        top:10%;
        background-color: rgba(27, 26, 26, 0.796);
        color:rgb(79, 243, 232);
        width:40%;

    }

    .thstyle{
        text-align:left;
    }
    #disp th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background: linear-gradient(rgba(49, 46, 46, 0.238), rgb(250, 235, 235));
        color: white;
    }
.selstyle {
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-color:rgb(171, 211, 247);
    font-style: arial;
    font-size:10px;
    box-shadow:0 1px 25px rgb(113, 214, 241);
    padding:5px;
}
